.uk-comment{
    background: rgb(162,207,252);
    background: linear-gradient(90deg, rgba(162,207,252,1) 0%, rgba(169,249,241,1) 100%);
    border-radius: 5px;
    color: black;
}
.preview-img{
    width: 100px;
    height: 100px;
    object-fit:scale-down;
}
.white span{
    color: white;
}
.upvote{
    background-color: transparent
}