.uk-search{
    border-radius: 25px;
    color: black;
    background-color: #eee;    
}
.uk-search-input{
    font-size: 12px;
    color: black;
    padding-left: 15px;

}
.uk-search-input::-webkit-input-placeholder { 
    color: black; 
}

.notification{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}



