.container {
    height: 100px;
    padding: 1rem;
    text-align: center;
    border: dashed 1px #979797;
    position: relative;
    margin: 0 auto;
}
.input {
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.25 ease-in-out;
}

label {
    color: white;
    width: 183px;
    height: 44px;
    border-radius: 21.5px;
    background-color: #39f;
    padding: 8px 16px;
}
h5{
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}
.preview-files img{
    padding: 10px;
    width: 100px;
}
.post-button{
    width: 125px;
    border-radius: 25px;
    background-color:#39f;
    font-weight: bold;
    color: white;
}